footer {
  position: fixed;
  bottom: 0;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: end;
  z-index: 9999;
  width: 100%;
  height: 70px;
  background-color: transparent;
  color: var(--color--list);
  line-height: 70px;
  @include respond-to(mobile) {
    display: block;
    height: auto;
    text-align: center;
  }
  @include respond-to(tabletToMobile, tablet, desktopToLaptop) {
    height: 10vh;
  }
  * {font-family: "DM Serif Display";}

  div {
    @include respond-to(mobile) {
      display: flex;
      justify-content: space-between;
    }
    .mail,
    .github{
      display: block;
      width: 8rem;
      height: 7rem;
      border: none;
      background-color: transparent;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: contain;
      font-size: 0;
      @include respond-to(mobile, tabletToMobile) {
        width: 7rem;
        height: 6rem;
      }
    }

    .mail {
      background-image: url(./../../assets/images/img_mail.png);
      margin-bottom: 2rem;
      &:hover {
        background-image: url(./../../assets/images/img_mail.gif)
      }
    }

    .github {
      background-image: url(./../../assets/images/img_github.png);
      &:hover {
        background-image: url(./../../assets/images/img_github.gif)
      }
    }
  }

  table {
    border: 1px solid #000;
    @include respond-to(mobile) {
      width:100%;
      margin-top:1vh;
    }
    * {
      font-size: 1.3rem;
      line-height: 1.2rem;
      text-align: left;
    }

    td {
      padding: 2px 5px;
      
      @include respond-to(mobile) {
        padding:0;
      }

      &:has(span) {
        text-align: center;
        vertical-align: bottom;
        border-right: 1px solid #000;
      }
    }

    caption {
      position: absolute;
      left: -9999px;
    }

    small {
      font-weight: bold;
      font-size: 2rem;
      vertical-align: bottom;
    }

    span {
      font-size: 3.5rem;
      font-weight: bold;
    }
  }

}