footer {
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 100%;
  bottom: 0;
  padding: 15px;
  align-items: flex-end;
  
  * {font-family: "DM Serif Display";}

  div {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    
    .mail,
    .github{
      width: 8rem;
      height: 7rem;
      border: none;
      background-color: transparent;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: contain;
      font-size: 0;
      
    }

    .mail {
      background-image: url(./../../assets/images/img_mail.png);
      &:hover {
        background-image: url(./../../assets/images/img_mail.gif)
      }
    }

    .github {
      background-image: url(./../../assets/images/img_github.png);
      &:hover {
        background-image: url(./../../assets/images/img_github.gif)
      }
    }
  }

  table {
    border: 1px solid #000;
    @include respond-to(mobile) {
      width:100%;
      margin-top:1vh;
    }
    * {
      font-size: 1.3rem;
      line-height: 1.2rem;
      text-align: left;
    }

    td {
      padding: 2px 5px;
      
      @include respond-to(mobile) {
        padding:0;
      }

      &:has(span) {
        text-align: center;
        vertical-align: bottom;
        border-right: 1px solid #000;
      }
    }

    caption {
      position: absolute;
      left: -9999px;
    }

    small {
      font-weight: bold;
      font-size: 2rem;
      vertical-align: bottom;
    }

    span {
      font-size: 3.5rem;
      font-weight: bold;
    }
  }

}