@import "./../utils/variable";
@import "./../utils/mixin";

header {
  position: fixed;
  z-index: 9999;
  width: 100%;
  top: 0;
  height:150px;
  background-color: transparent;

  h1 {
    width:auto;
    height:60px;
    margin:50px auto 0;
    font-size: 0;
    text-align:center;

    img {
      height: 100%;
    }
  }
}

@include respond-to(mobile, tabletToMobile) {
  header{
    height:10rem;
    h1{
      height:5rem;
      margin:2rem auto 0;
    }
  }
}