@import "./../utils/variable";
@import "./../utils/mixin";

header {
  position: fixed;
  z-index: 9999;
  width: 100%;
  top: 0;
  background-color: transparent;
  a{
    display: block;
    height: 10rem;
    max-height: 12vh;
    padding: 3rem 0 2rem;
    h1 {
      width: auto;
      height: 100%;
      font-size: 0;
      text-align:center;
      img {
        height: 100%;
      }
    }
  }
  
}