main:has(.detail_con) {
  margin-top: 250px;
  &>.detail_con {
    margin-top: 20px;
    * {
      font-family: "LeeSeoyun";
    }
    aside{
      padding-top:20px;
      text-align: center;
      p{
        font-size:1.7rem;
        letter-spacing:.2rem;
      margin:15px 0 40px;
      }
    }
    article {
      position: relative;
      width:1200px;
      display: flex;
      gap:40px;
      min-height: 100%;
      margin:0 auto;
      padding:40px 50px;
      outline-offset: -2px;
      background: url('../assets/images/img_notebook.png');
      background-size: contain;
      &::before,
      &::after{
        position: absolute;
        left:-.5px;
        display: block;
        content:'';
        width:100%;
        height:50px;
        background-size: cover;
      }
      &::before{
        top: -50px;
      background: url('../assets/images/img_notebook_top.png') no-repeat;
      background-size: cover;

      }
      &::after{
        bottom: -50px;
      background: url('../assets/images/img_notebook_bottom.png') no-repeat;
      background-size: cover;

      }
      &>*{flex:0 1 50%;}
      img{width:100%;}
    }

    button {
      border: 1px solid #fff;
      border-radius: 30px;
      padding: 5px 10px;
    }

    h2 {
      font-size: 1.8rem;

      &>* {
        font-size: 2rem;
        color: #000;
      }
    }
  }
}