Footer {
  position:fixed;
  z-index:9999;
  bottom:0;
  width: 100%;
  height:70px;
  background-color:transparent;
  color: var(--color--list);
  line-height:70px;
  text-align: center;

  small {
    color:var(--color--list);
    font-size: 14px;
  }
}