/* var */
:root {
  --color--common: #333;
  --color--list: #fff;
  --bg--list: #242424;
  --color--main: #999;
  --shadow--list: #222;
  --bg--key: #ffe96c;
  --bg--box: #ddd;
}

@font-face {
  font-family: "PretendardVariable";
  font-weight: normal;
  src: url("./../assets/fonts/PretendardVariable.ttf") format("truetype");
}

@font-face {
  font-family: "LeeSeoyun";
  font-weight: 400;
  src: url("./../assets/fonts/LeeSeoyun.otf");
}

@font-face {
  font-family: "DM Serif Display";
  font-style: normal;
  font-weight: 400;
  src: url("./../assets/fonts/DMSerifDisplay-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--color--common);
  font-family: "PretendardVariable";
  font-size: 10px;
  font-style: normal;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

body {
  background: url("./../assets/images/bg_clouds.jpg") bottom no-repeat;
  background-size: cover;
  background-attachment: fixed;
}



.builtwith_wrap {
  display: flex;
  gap: 3px;
  margin-bottom: 5px;
  span {
    font-size: 1.4rem;
    color: #fff;
    &::after{
      margin:0 3px;
      content:'|';
    }
    &:last-child{
      &::after{display:none;}
    }
  }
}

/* button */
.btn_site {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  border: 1px solid #fff;
  border-radius: 10px;
  font-size: 1.7rem;
  text-align: center;

  * {
    color: #fff;
  }

  &::after {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    content: '';
    border-radius: 6px;
    width: calc(100% - 8px);
    height: calc(100% - 8px);
    border: 1px dashed #fff;
    transform: translate(-50%, -50%);
  }

  .icon {
    height: 100%;
  }
}

.btn_back {
  margin-bottom: 10px;
  border: none;
  background-color: transparent;
  font-size: 2.2rem;

  .icon {
    margin-bottom: -7px;
  }

}

/* icon */
.icon {
  font-size: 2rem;
}

/* card slide */
.gallery {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;

  .actions {
    button {
      position: fixed;
      top: 50%;
      border: none;
      background: transparent;
      background-size: contain;
      background-repeat: no-repeat;
      font-size: 0;
      transform: translateY(-50%);

      &:hover {
        @keyframes identifier {
          0% {
            filter: invert(1);
          }

          50% {
            filter: invert(0);
          }
        }

        animation: identifier .8s infinite steps(1, end);
      }

      &.btn_prev {
        left: 10%;
        width: 75px;
        height: 105px;
        background-image: url(./../assets/images/btn_arrow_left.png);
      }

      &.btn_next {
        right: 10%;
        width: 110px;
        height: 82px;
        background-image: url(./../assets/images/btn_arrow_right.png);
      }
    }
  }
}

.drag-proxy {
  visibility: hidden;
  position: absolute;
}