$img_detail:
"ribbon" 15rem 14rem -15px -10px,
"flower" 23rem 19rem -201px -10px,
"waves" 22.5rem 14rem -466px -26px,
"mustache" 5rem 19rem -745px -65px,
"flowers" 22rem 27rem -845px -200px,
"spring" 11.4rem 7.3rem -1115px -221px,
"butterfly_s" 7.4rem 7.1rem -1117px -328px,
"butterfly_l" 11.5rem 11.1rem -1235px -292px,
"butterfly_l" 11.5rem 11.1rem -1235px -292px,
"underline" 16.2rem 1.2rem -1287px -251px,
"quotes" 2.2rem 3rem -1307px -204px,
"sparkle" 8.2rem 8rem -1401px -308px,
"lilac" 5.2rem 11.7rem -1490px -201px,
"star" 9rem 8.7rem -1539px -334px,
"emphasis" 6rem 5.8rem -1574px -448px,
"bubble" 14.2rem 7rem -1398px -418px,
"frame_top_right" 4.8rem 2.7rem -1236px -451px,
"frame_top_left" 2.7rem 4rem -1107px -448px,
"frame_bottom_right" 3.2rem 4.2rem -1175px -450px,
"frame_bottom_left" 3.2rem 4.2rem -1310px -445px,
"butterfly_lilac" 12rem 17rem -845px -491px;


@each $name, $width, $height, $position-x, $position-y in $img_detail {
  .img_#{$name}::before {
    display: inline-block;
    content:'';
    width:$width;
    height:$height;
    background: url('./../assets/images/img_detail.png');
    background-position-x:$position-x;
    background-position-y:$position-y;
  }
}

::-webkit-scrollbar{
  display: none; // 고민해보기
}