.project {
  display: flex;
  gap: 15px;
  align-items: center;
  height: 100%;
  padding: 30px 0;

  &>li {
    width: 300px;
    height: 500px;
    padding: 20px;
    background-color: #fff;
    border-radius: 20px;
  }

  .tumb {
    display: block;
    width: 150px;
    height: 150px;
    margin: 10px auto 20px;
    border-radius: 50%;
    text-align: center;
    box-shadow: 0 0 10px 5px #cbcbcb;

    img {
      font-size: 0;
      line-height: 150px;
    }
  }

  h2 {
    margin-bottom: 10px;
    text-align: left;
    font-size: 2rem;

    &+p {
      margin-bottom: 20px;
      font-size: 1.5rem;
      word-break: break-word;
    }
  }

  span {
    margin-right: 10px;
    font-size: 1.4rem;
  }

  ul {
    margin-bottom: 10px;
  }

  .btn_wrap {
    display: flex;
    justify-content: space-between;

    div {
      position: relative;

      span {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50% -50%);
      }
    }
  }

  @keyframes test {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }

  .category {
    position:relative;
    .btn_circle {
      &+svg {
        position:absolute;
        top:50%;
        left: 50%;
        font-size: 1.8rem;
        transform:translate(-50%, -50%);
        *{
          color:var(--color--main);
        }
      }

      svg {
        fill: currentColor;
        width: 55px;
        height: auto;
        transform-origin: center;
        animation: test 5s linear infinite;
        * {
          color:var(--shadow--list);
          font-size: 2rem;
          font-weight:normal;
        }
      }
    }

  }


}